
.body{
    background-image: url(./tecnico.svg);
    background-repeat: no-repeat;
    display: flex;
 
}

.footer{
    display: flex;
    align-items: flex-end;
}

.div_servicos{
    display: flex;
    flex-direction: column;
}