.container {
   display: flex;
   justify-content: space-around;
   border: solid green;
    background-color: darkblue;
    color: aliceblue;
}

.item1 {
    display: flex;
    border: solid yellow;
}

.item2 {
    display: flex;
    border: solid yellow
}

.item3 {
    display: flex;
    border: solid yellow
}
.rodape {
    display: block;
    background-color: aqua;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    justify-content: center;
    border: solid black;
  
}